*{
	padding:0px;
	margin:0px;
	font-family: Century Gothic;
}

body{
	background-color:#F7F6F4;
}

.home{
	display:flex;
	flex-wrap:wrap;
}

.in-flex{
	flex:1;
	min-width:250px;
}

#contenedor p{
	font-family:Lucida Bright;
	font-style:bolder;
	font-size:1.2vw;
	margin-left:2vw;
	text-align:justify;
}

.in-flex:first-child{
	flex:2;
	padding:20px;
	height:750px;
	background-color:#F2D8E8;
	margin:25px;
	margin-bottom:0px;
}



#divLateralInferior{
	position:relative;
}

#divLateralInferior p{
	margin-left:8.5vmin;
	font-family: monospace;
}

#divLateralInferior img{
	width:4vmin;
	margin-left:1vw;
	position:absolute;
}



#divLateralSuperior{
	position:relative;
}

#divLateralSuperior p{
	margin-left:6vmin;
	font-family: monospace;
}

#divLateralSuperior img{
	width:4vmin;
	margin-left:1vw;
	position:absolute;
}



#cuadrado{
	width:12%;
	height:10%;
	border-width:3px;
	border-color:black;
	border-style:solid;
	background-color:green;
}

h1{
	font-size:2vw;
}
#nombre{
	font-family: monospace;
	margin-left:30vmin;
	width:30vw;
}

#profesion{
	font-family: monospace;
	margin-left:43vmin;
	width:12vw;
	margin-top:1vw;
	font-size:1vw;
}

.in-flex div{
	padding:25px;
	height:320px;
	margin:20px;
}

.laterales{
	background-color:#A93061;
}