*{
	padding:0px;
	margin:0px;
	font-family: Century Gothic;
}

body{
	background-color:#F7F6F4;
}

.home{
	display:flex;
	flex-wrap:wrap;
}

.in-flex{
	flex:1;
	min-width:250px;
}

.in-flex:first-child{
	flex:2;
	padding:25px;
	height:750px;
	background-color:#F2D8E8;
	margin:25px;
	margin-bottom:0px;
}

#cuadrado{
	width:12%;
	height:10%;
	border-width:3px;
	border-color:black;
	border-style:solid;
	background-color:green;
}

h1{
	font-size:2vw;
}
#nombre{
	font-family: monospace;
	margin-left:30vmin;
	width:30vw;
	background-color:blue;
}

#profesion{
	font-family: monospace;
	margin-left:43vmin;
	width:12vw;
	background-color:blue;
	margin-top:1vw;
	font-size:1vw;
}

.in-flex div{
	padding:25px;
	height:320px;
	margin:20px;
}

.laterales{
	background-color:#A93061;
}