/*CONFIGURACIÓN GENERAL DEL HTML*/
	*{
		padding:0px;
		margin:0px;
		font-family: Century Gothic;
	}

	body{
		background-color:#F7F6F4;
	}

	.home{
		display:flex;
		flex-wrap:wrap;
	}

/*CONFIGURACIÓN DEL CONTENEDOR*/
	.in-flex{
		flex:1;
		min-width:250px;
	}

	.in-flex div{
		padding:25px;
		height:320px;
		margin:20px;
	}

	h1{
		font-size:2vw;
	}

/*CONTENEDOR PRINCIPAL*/
	.in-flex:first-child{
		flex:2;
		padding:20px;
		height:870px;
		background-color:#F2D8E8;
		margin:20px;
		margin-bottom:15px;
		
	}
	/*Informacion general*/

		#contenedor img{
			position:absolute;
			min-width:5vw;
			max-width:10vw;
			margin-left:5vw;
			max-height:10vw;
			min-height:4vw;
			border-width:3px;
			border-color:black;
			border-style:solid;
		}


		#nombre{
			margin-top:3vw;
			font-family: monospace;
			margin-left:40vmin;
			width:30vw;
			position:relative;
		}

		#profesion{
			margin-top:3vw;
			font-family: monospace;
			margin-left:53vmin;
			width:12vw;
			margin-top:1vw;
			font-size:1vw;
			position:relative;
		}
	/*Descripcion sobre mi*/

		#contenedor p{
			margin-top:3vw;
			font-family:Lucida Bright;
			font-style:bolder;
			max-width:auto;
			min-width:auto;
			font-size:1.4vw;
			margin-left:2vw;
			text-align:justify;
		}



/*CONFIGURACIÓN DE LATERALES*/
	.laterales{
		background-color:#A93061;
	}
	
	/*Lateral superior*/
		#divLateralSuperior{
			position:relative;
		}

		#divLateralSuperior p{
			margin-left:6vmin;
			font-family: monospace;
		}

		#divLateralSuperior img{
			width:4vmin;
			margin-left:1vw;
			position:absolute;
		}
	
	/*Lateral Inferior*/
		#divLateralInferior{
			position:relative;
		}

		#divLateralInferior p{
			margin-left:8.5vmin;
			font-family: monospace;
		}

		#divLateralInferior img{
			width:4vmin;
			margin-left:1vw;
			position:absolute;
		}
