.presentation{
  background: linear-gradient(180deg, #030712 58%, #1C0209 100%);
}

.title{
  background: linear-gradient(90deg, #7FD8FA 0%, #1255C8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tittle-experience{
  background: linear-gradient(90deg, #7FD8FA 0%, #1255C8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name{
  animation:
    typing 2s steps(18),
    cursor .4s step-end infinite alternate;
}

@keyframes cursor {
  50% { border-color: transparent }
}

@keyframes typing {
  from { width: 0 }
}

.bubbles span {
  position: relative;
  width: 12px;
  height: 12px;
  background: #7FD8FA;
  opacity: 0.4;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #1e3742,
              0 0 40px #7FD8FA,
              0 0 90px #7FD8FA;
  animation: animate 14s linear infinite;
  animation-duration: calc(610s / var(--i));
  animation-delay: calc(var(--i) * -2s);
}

.bubbles span:nth-child(even) {
  background: #df1515;
  opacity: 0.4;
  box-shadow: 0 0 0 8px #521506,
              0 0 40px #df1515,
              0 0 90px #df1515;
}

@keyframes animate {
  0% {
    transform: translateY(-10vh) scale(1);
  }
  100% {
    transform: translateY(110vh) scale(0);
  }
}

.btn-project:active{
  transform: scale(0.95);
}

.group:hover .wrapper {
  animation: slide 8s infinite linear;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  1% {
    transform: translateX(0);
  }
  13% {
    transform: translateX(-100%);
  }
  29% {
    transform: translateX(-100%);
  }
  43% {
    transform: translateX(-200%);
  }
  67% {
    transform: translateX(-200%);
  }
  84% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}