.title{
  animation:
    typing 2s steps(18),
    cursor .4s step-end infinite alternate;

  font-weight: 800;
  background: linear-gradient(90deg, #7FD8FA 0%, #1255C8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes cursor {
  50% { border-color: transparent }
}

@keyframes typing {
  from { width: 0 }
}