---
import Contact from '@components/contact.astro';
import Layout from '../layouts/Layout.astro';
import Navbar from '@components/Navbar.astro';
import Presentation from '@components/Presentation.astro';
import Experience from '@components/Experience.astro';
import Projects from '@components/Projects.astro';
import Skills from '@components/Skills.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Navbar />
  <!-- <Social /> -->
  <!-- px-7 md:px-24 lg:px-32 xl:px-56 -->
  <main>
    <Presentation/>

    <section class="px-6 md:px-24 lg:px-32 xl:px-56">
      <Experience/>
      <Skills />
      <Projects />
      <Contact />
    </section>
  </main>
</Layout>