<section
  class="w-full py-40 xl:py-64 flex flex-col justify-center items-center"
  id="contactS"
>
  <h1 class="text-center text-3xl text-white tracking-widest font-semibold md:text-4xl xl:text-5xl">
    Contact
  </h1>

  <div class="border-borde border-[1px] p-2 rounded-sm mt-10 text-details cursor-pointer">
    <p class="p-4 text-xs">
      Feel free to contact me to discuss how I can contribute to your team!
    </p>
    <h4 class="text-2xs w-full text-right">
      Click to generate another text
    </h4>
  </div>
</section>
