---
import { dataNavbar } from "../constants/const"
---

<nav
  class="flex justify-center fixed w-full lg:justify-between py-6 md:py-7 px-10 z-10 transition-[top] duration-300 bg-transparent backdrop-blur-md backdrop-saturate-150 xl:p-6"
>
  <div class="hidden lg:flex">
    <a href="/">Harry Gómez</a>
  </div>
  <ul class="flex gap-8 md:gap-12">
    {dataNavbar.map(({ name, path }) =>
      <li class="md:text-lg">{name}</li>
    )}
  </ul>
</nav>
