---
import { dataNavbar } from "../constants/const"
---

<nav
  class="flex justify-center fixed w-full lg:justify-between p-5 z-10 transition-[top] duration-300 bg-red-950"
  id="navbar"
>
  <div class="hidden lg:flex">
    <a href="/">Harry Gómez</a>
  </div>
  <ul class="flex gap-8">
    {dataNavbar.map(({ name, path }) =>
      <li>{name}</li>
    )}
  </ul>
</nav>
