---
import { dataPresentation as data } from '../constants/const'
import "../styles/comp.css"
---

<section class="min-h-screen flex flex-col justify-center px-[28px]">
  <div class="flex flex-col gap-4 w-full">
    <h2 class="text-3xl font-medium w-[170px] whitespace-nowrap overflow-hidden border-r-[3px] border-[#e8e8e8] name">{data.title}</h2>
    <h1
      class="text-3xl font-semibold flex tracking-wider title"
    >
      Sofware Developer
    </h1>
    <p class="text-[#c5c5c5]">I build custom solutions to help people advance in the digital world.</p>
    <button
      class="cursor-pointer text-[#7FD5FA] border-[#7FD5FA] border-[1px] px-10 py-[7px] mt-4 rounded-lg font-medium text-sm w-[100px]"
    >
      CV
    </button>
  </div>
</section>
