---
import { dataPresentation as data } from "../constants/const";
import "../styles/comp.css";
---

<section class="relative w-full h-screen overflow-hidden presentation">
  <!-- background -->
  <div class="bubbles relative hidden lg:flex lg:justify-center lg:gap-7 xl:gap-9 z-0"></div>

  <!-- container -->
  <div
    class="min-h-screen flex flex-col gap-4 md:gap-5 w-full justify-center px-6 md:px-24 lg:px-32 xl:px-56 relative z-10"
  >
    <h2
      class="text-3xl font-medium w-[170px] whitespace-nowrap overflow-hidden border-r-[3px] border-[#e8e8e8] name md:text-6xl md:w-[330px] lg:w-[400px] lg:text-7xl xl:w-[392px]"
    >
      {data.name}
    </h2>
    <h1 class="text-3xl font-semibold flex tracking-wider title md:text-5xl w-full lg:text-6xl xl:text-7xl">
      {data.tittle}
    </h1>
    <p class="text-details text-sm w-64 md:text-xl md:w-[400px] lg:text-2xl xl:text-lg">{data.description}</p>
    <button
      class="cursor-pointer text-[#7FD5FA] border-[#7FD5FA] border-[1px] py-2 mt-4 rounded-lg font-medium text-sm w-[100px] md:w-[160px] flex justify-center items-center gap-2 xl:w-[130px] xl:py-1.5"
    >
      <span class="md:text-lg lg:text-xl xl:text-lg">CV</span>
      <img src="portfolio/public/cvimage.svg" class="w-[10px] h-[10px] md:w-[15px] md:h-[15px] xl:w-[13px] xl:h-[13px]" alt="doc">
    </button>
  </div>
</section>

<script>
  const bubblesContainer = document.querySelector('.bubbles') as HTMLElement;
  const numberOfBubbles = 28;

  for (let i = 0; i < numberOfBubbles; i++) {
    const bubble = document.createElement('span');
    const randomValue = Math.floor(Math.random() * 20) + 10;
    bubble.style.setProperty('--i', randomValue.toString());
    bubblesContainer.appendChild(bubble);
  }
</script>