---
import { dataProjects as data } from "src/constants/const";
import Project from "./Project.astro";
---

<section class="min-h-screen flex flex-col gap-4 mt-20 justify-center py-20">
  <!-- tittle -->
  <h1
    class="text-center text-3xl text-white tracking-widest font-semibold md:text-4xl xl:text-5xl"
  >
    Projects
  </h1>

  <!-- projects container -->
  <div class="w-full mt-10 flex flex-col justify-center items-center gap-8 px-2">
    {
      data.map(({ title, description, technologies, urlImages }) => (
        <Project
          title={title}
          description={description}
          technologies={technologies}
          urlImages={urlImages}
        />
      ))
    }
  </div>
</section>
